.photo1, .photo2 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 450px;
    border: solid #e6655e;
   
}

.photoDiv {
    margin-top: 50px;
   margin-left: auto;
  margin-right: auto;
  width: 960px;
}

table, td {
width: 100%;
margin: auto;
border: solid #f4948b;
border-collapse: collapse;
text-align: center;
font-size: 19px;
table-layout: fixed;
background-color: #e6655e;
color: white;
margin-top: 100px;
}

td {
    padding: 20px;
    opacity: 0.9;
}

.refCol{
    background-color: #f4948b;
}

.refCol2 {
    background-color: #4BA7BB;    
} 
.refCol2:hover{
    opacity: 0.5; 
    transition: 0.8s;   
} 


.validDev {
    margin-top: 20px;
    display: inline-block;
    font-size: 19px;
    line-height: 18px;
    background-color: #e6655e;
    border: 1px solid #f4948b;
    min-width: 107px;
    padding: 5px 10px 6px;
    color: #fff;
    cursor: pointer;
}

.validDev:hover {
    transform: scale(0.9,0.9);
    transition: 1s;
    
}



