body
{
	background-color: #334960;
	text-align:justify;
	margin-top: 0pt;
	margin-left: 0pt;
	margin-right: 0pt;
    padding-top: 0pt;
    padding-left: 0pt;
	padding-right: 0pt;	
    border-top: 0pt;
    border-left: 0pt;
	border-right: 0pt;
}
div.site
{
	background-color:white;
	display:block;
	clear:both;
	width:1000px;
	margin:auto;
	border: 2px solid #939393;
	min-height:1600px;
}

/*nav
{
	position:relative;
	width:25%;
	height:1000px;
	border-right:2px solid #939393;
	float:left;
	
}*/
/*nav ul
{


    list-style:none;
	padding-left:48px;
	

}
nav li
{
	text-align: center;	
	
}
nav ul li a
{
	margin-bottom:50px;
 	display:inline-block;
 	float:left;   
 	width:150px;
 	height:30px;
 	padding-top:10px;
 	margin-right:1px;
 	text-decoration: none;
 	color:black;
	border:1px solid #0056EA;
	border-radius: 5px;
}*/

article
{   

	width:700px;
	position:relative;
	height:100%;
	
	padding:10px;
	display:inline-block;
	vertical-align: top;
	text-align:justify;

	
	
	}
header
{
	background-color:#333333;
	display:block;
	height:20px;
	width:100%;
	color:white;
	padding:3px;
	margin-bottom:10px;
}	
table
{
	margin:auto;
}
table td
{
	padding:4px;
}
a
{
	color:white;
	padding-left:3px;
}
.menu{
  background-color: #414141;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
}

.menu__list{
  text-align: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;  
}

.menu__link{
  display: block;
  padding: 2rem 1.5rem;

  will-change: color;
  transition: color .25s ease-out;  

  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__link:focus{
  outline: 2px solid #fff;
}

@media (min-width: 601px){

  .menu__list{
    display: flex;  
  }

  .menu__group{
    flex-grow: 1;
  }

  .menu__link{
    position: relative;
    overflow: hidden;
  }

  .menu__link:before, .menu__link:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: #fff;

    will-change: width;
    transition: width .05s ease-out;

    position: absolute;
    bottom: 0;
  }

  .menu__link:before{
    left: 50%;
    transform: translateX(-50%); 
  }

  .menu__link:after{
    right: 50%;
    transform: translateX(50%); 
  }

  .menu__link:hover:before, .menu__link:hover:after{
    width: 100%;
    transition-duration: .15s;
  }
}

/* hover effect */

/*.menu:hover .menu__link:not(:hover){
  color: #241c69;
}*/
